.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  background-color: lightgray;
}

.cell {
  position: absolute;
  color: white;
  font-size: 0.9rem;
  border: 1px solid yellow;
}