.cell {
  position: absolute;
  background-color: cyan;
  border: 1px solid red;
  color: blue;
  font-size: 0.9rem;
  text-align: center;
}

.animateCell {
  animation-name: cellAnimation;
  animation-duration: 2s;
  background-color: blue;
  color: cyan;
}

@keyframes cellAnimation {
  from {
    background-color: cyan;
    color: blue;
  }
  to {
    background-color: blue;
    color: cyan;
  }
}